{% extends "admin/layout.html" %}
{% block title %}List Routes{% endblock %}
{% block content %}
<div class="container padding py-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">FLT number</th>
                <th scope="col">Callsign</th>
                <th scope="col">Origin</th>
                <th scope="col">Destination</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
                {% for route in routes %}
                <tr>
                    <td>{{ route['flight_number'] }}</td>
                    <td>{{ route['callsign'] }}</td>
                    <td>{{ route['departure_icao'] }}</td>
                    <td>{{ route['arrival_icao'] }}</td>
                    <td>
                        <a href="{{ route['id_route'] }}">Info</a>
                        <a href="edit/{{ route['id_route'] }}">Edit</a>
                        <a href="delete/{{ route['id_route'] }}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}