{% extends "admin/layout.html"%}
{% block title %}Users{% endblock %}
{% block content %}
<div class="content w-100">
    <div class="container">
        <div class="row">

            <div class="stat-box col-12 row">
                <div class="pie-chart col-3">
                    Total of users
                </div>
                <div class="pie-chart col-3">
                    Total of hours
                </div>
                <div class="pie-chart col-3">
                    Users online
                </div>
                <div class="pie-chart col-3">
                    Flights today
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}