{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <form method="post" class="card">
                    <div class="input-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="input">
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="input">
                    </div>
                    <button type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}